## 4.8 Grouping Data and Aggregating Variables

### Table of contents:

- Renaming dataframe
- Group a given dataframe by a given column
- Split the data into groups based on “department_id.” and apply the agg() function to each group to obtain the mean values for the “order_number” column.
- Different command using the mean, that gives the same results but in a different format
- Using the groupby with multiple aggregations
- Aggregating data with transform
- Avoiding limit on rows for the .head() function
- Creating a loyalty flag for 'max_order' columnn
- Checking the results with head() on multiple columns

- Task 4.8, questions 2 to 7

In [2]:
# Import libraries                  
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\svand\Documents\01-02-2024 Instacart Basket Analysis'

In [5]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [11]:
#rename dataframe
ords_prods_merge = df_ords_prods_merged

In [7]:
df = ords_prods_merge[:1000000]

In [8]:
df.shape

(1000000, 17)

In [9]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_hours
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders

In [12]:
#group a given dataframe by a given column
df.groupby('product_name')

In [13]:
#Split the data into groups based on “department_id.” and apply the agg() function to each group to obtain the mean values for the “order_number” column.
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [15]:
#different command using the mean, that gives the same results but in a different format
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [57]:
#using the groupby with multiple aggregations:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [17]:
#aggregating data with transform
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\svand\AppData\Local\Temp\ipykernel_29812\3133816997.py:2: FutureWarning: The provided callable <function amax at 0x000001A1631620C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [18]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_hours,max_order
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10

In [58]:
#Avoiding limit on rows for the .head() function
pd.options.display.max_rows = None

In [21]:
ords_prods_merge.head(21)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_hours,max_order
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196.0,4.0,1.0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196.0,6.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,196.0,3.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,196.0,15.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,9
17,532817,19,7,4,17,6.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,9
18,1573906,21,10,3,10,6.0,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,33
19,1593000,31,10,3,8,7.0,196.0,17.0,0.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,20
20,2231262,31,17,3,11,8.0,196.0,14.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,20

In [24]:
#Creating a loyalty flag for 'max_order' columnn
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [25]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [26]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [28]:
# check values in your loc column 'loyalty_flag':
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [29]:
#checking the results with head() on multiple columns:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

#### Task 4.8

In [30]:
#Question 2: For the entire dataframe, find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. 
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [32]:
#Question 3: Analyze the result:

##### By using the code on the entire data frame, it shows all the 21 departments instead of only a part of it. It also shows the correct mean of every department as its calculated from all rows

In [33]:
#Question 4: See loyalty flag commands and results above

In [34]:
#Question 5: check the basic statistics of the product prices for each loyalty category
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

##### The prices of products purchased by loyal customers differ from those purchased by regular or new customers. The mean price of the loyal customers is lower than the other categories. New customers spent most, with a mean of 13,29 per order

In [35]:
#Question 6: Create a spending flag for each user based on the average price across all their orders

In [36]:
#First, use transform to create the mean price column:
ords_prods_merge['average_price_product'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\svand\AppData\Local\Temp\ipykernel_29812\569007652.py:2: FutureWarning: The provided callable <function mean at 0x000001A163162DE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_price_product'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [37]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_hours,max_order,loyalty_flag,average_price_product
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797

In [40]:
#View specific columns:
ords_prods_merge[['user_id', 'average_price_product']].head(50)

    user_id  average_price_product
0         1               6.367797
1         1               6.367797
2         1               6.367797
3         1               6.367797
4         1               6.367797
5         1               6.367797
6         1               6.367797
7         1               6.367797
8         1               6.367797
9         1               6.367797
10       15               3.980556
11       15               3.980556
12       15               3.980556
13       15               3.980556
14       15               3.980556
15       19               8.372059
16       19               8.372059
17       19               8.372059
18       21               7.012683
19       31               8.137793
20       31               8.137793
21       43               7.444898
22       43               7.444898
23       52               6.356287
24       52               6.356287
25       52               6.356287
26       52               6.356287
27       52               6.356287
28       52               6.356287
29       52               6.356287
30       52               6.356287
31       52               6.356287
32       52               6.356287
33       52               6.356287
34       52               6.356287
35       52               6.356287
36       52               6.356287
37       67               7.656790
38       67               7.656790
39       67               7.656790
40       67               7.656790
41       67               7.656790
42       67               7.656790
43       67               7.656790
44       67               7.656790
45       67               7.656790
46       67               7.656790
47       67               7.656790
48       67               7.656790
49       67               7.656790

In [42]:
ords_prods_merge.loc[ords_prods_merge['average_price_product'] >= 10, 'spending_flag'] = 'High spender'

In [43]:
ords_prods_merge.loc[ords_prods_merge['average_price_product'] < 10, 'spending_flag'] = 'Low spender'

In [44]:
#check values in loc column 'spending_flag':
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [46]:
#regular check
ords_prods_merge[['user_id', 'average_price_product', 'spending_flag']].head(100)

    user_id  average_price_product spending_flag
0         1               6.367797   Low spender
1         1               6.367797   Low spender
2         1               6.367797   Low spender
3         1               6.367797   Low spender
4         1               6.367797   Low spender
5         1               6.367797   Low spender
6         1               6.367797   Low spender
7         1               6.367797   Low spender
8         1               6.367797   Low spender
9         1               6.367797   Low spender
10       15               3.980556   Low spender
11       15               3.980556   Low spender
12       15               3.980556   Low spender
13       15               3.980556   Low spender
14       15               3.980556   Low spender
15       19               8.372059   Low spender
16       19               8.372059   Low spender
17       19               8.372059   Low spender
18       21               7.012683   Low spender
19       31               8.137793   Low spender
20       31               8.137793   Low spender
21       43               7.444898   Low spender
22       43               7.444898   Low spender
23       52               6.356287   Low spender
24       52               6.356287   Low spender
25       52               6.356287   Low spender
26       52               6.356287   Low spender
27       52               6.356287   Low spender
28       52               6.356287   Low spender
29       52               6.356287   Low spender
30       52               6.356287   Low spender
31       52               6.356287   Low spender
32       52               6.356287   Low spender
33       52               6.356287   Low spender
34       52               6.356287   Low spender
35       52               6.356287   Low spender
36       52               6.356287   Low spender
37       67               7.656790   Low spender
38       67               7.656790   Low spender
39       67               7.656790   Low spender
40       67               7.656790   Low spender
41       67               7.656790   Low spender
42       67               7.656790   Low spender
43       67               7.656790   Low spender
44       67               7.656790   Low spender
45       67               7.656790   Low spender
46       67               7.656790   Low spender
47       67               7.656790   Low spender
48       67               7.656790   Low spender
49       67               7.656790   Low spender
50       67               7.656790   Low spender
51       67               7.656790   Low spender
52       67               7.656790   Low spender
53       67               7.656790   Low spender
54       67               7.656790   Low spender
55       67               7.656790   Low spender
56       81               8.165385   Low spender
57       81               8.165385   Low spender
58       82               6.441221   Low spender
59       82               6.441221   Low spender
60       82               6.441221   Low spender
61       82               6.441221   Low spender
62       82               6.441221   Low spender
63       82               6.441221   Low spender
64       82               6.441221   Low spender
65       82               6.441221   Low spender
66       82               6.441221   Low spender
67       98               8.028000   Low spender
68       98               8.028000   Low spender
69       98               8.028000   Low spender
70       98               8.028000   Low spender
71       98               8.028000   Low spender
72       98               8.028000   Low spender
73       98               8.028000   Low spender
74      109               5.850725   Low spender
75      120               9.385714   Low spender
76      120               9.385714   Low spender
77      185               7.715000   Low spender
78      195               7.149730   Low spender
79      195               7.149730   Low spender
80      195               7.149730   Low spender
81      195               7.149730   Low spender
82      195               7.149730   Low spender
83      195               7.149730   Low spender
84      195               7.149730   Low spender
85      195               7.149730   Low spender
86      195               7.149730   Low spender
87      195               7.149730   Low spender
88      195               7.149730   Low spender
89      195               7.149730   Low spender
90      222               6.862397   Low spender
91      222               6.862397   Low spender
92      290               7.285597   Low spender
93      290               7.285597   Low spender
94      331               7.705128   Low spender
95      360              10.006250  High spender
96      377               8.496552   Low spender
97      387               7.396610   Low spender
98      420               7.387805   Low spender
99      420               7.387805   Low spender

In [48]:
#Question 7: Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column

In [49]:
# Again,use transform to create a column, this time the median of “days_since_prior_order” 
ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\svand\AppData\Local\Temp\ipykernel_29812\1573376497.py:2: FutureWarning: The provided callable <function median at 0x000001A1632A3D80> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [50]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_days,busiest_hours,max_order,loyalty_flag,average_price_product,spending_flag,median_days_between_orders
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5

In [51]:
#View specific columns:
ords_prods_merge[['user_id', 'median_days_between_orders']].head(50)

    user_id  median_days_between_orders
0         1                        20.5
1         1                        20.5
2         1                        20.5
3         1                        20.5
4         1                        20.5
5         1                        20.5
6         1                        20.5
7         1                        20.5
8         1                        20.5
9         1                        20.5
10       15                        10.0
11       15                        10.0
12       15                        10.0
13       15                        10.0
14       15                        10.0
15       19                         6.0
16       19                         6.0
17       19                         6.0
18       21                         7.5
19       31                         6.0
20       31                         6.0
21       43                        10.0
22       43                        10.0
23       52                         8.0
24       52                         8.0
25       52                         8.0
26       52                         8.0
27       52                         8.0
28       52                         8.0
29       52                         8.0
30       52                         8.0
31       52                         8.0
32       52                         8.0
33       52                         8.0
34       52                         8.0
35       52                         8.0
36       52                         8.0
37       67                         7.0
38       67                         7.0
39       67                         7.0
40       67                         7.0
41       67                         7.0
42       67                         7.0
43       67                         7.0
44       67                         7.0
45       67                         7.0
46       67                         7.0
47       67                         7.0
48       67                         7.0
49       67                         7.0

In [52]:
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [53]:
ords_prods_merge.loc[(ords_prods_merge['median_days_between_orders'] > 10) & (ords_prods_merge['max_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [54]:
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [55]:
#check values in loc column 'order_frequency_flag':
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559853
Regular customer          5195271
Non-frequent customer     3636437
nan                       2013298
Name: count, dtype: int64

In [56]:
#regular check
ords_prods_merge[['user_id', 'median_days_between_orders', 'order_frequency_flag']].head(100)

    user_id  median_days_between_orders   order_frequency_flag
0         1                        20.5  Non-frequent customer
1         1                        20.5  Non-frequent customer
2         1                        20.5  Non-frequent customer
3         1                        20.5  Non-frequent customer
4         1                        20.5  Non-frequent customer
5         1                        20.5  Non-frequent customer
6         1                        20.5  Non-frequent customer
7         1                        20.5  Non-frequent customer
8         1                        20.5  Non-frequent customer
9         1                        20.5  Non-frequent customer
10       15                        10.0      Frequent customer
11       15                        10.0      Frequent customer
12       15                        10.0      Frequent customer
13       15                        10.0      Frequent customer
14       15                        10.0      Frequent customer
15       19                         6.0      Frequent customer
16       19                         6.0      Frequent customer
17       19                         6.0      Frequent customer
18       21                         7.5      Frequent customer
19       31                         6.0      Frequent customer
20       31                         6.0      Frequent customer
21       43                        10.0      Frequent customer
22       43                        10.0      Frequent customer
23       52                         8.0      Frequent customer
24       52                         8.0      Frequent customer
25       52                         8.0      Frequent customer
26       52                         8.0      Frequent customer
27       52                         8.0      Frequent customer
28       52                         8.0      Frequent customer
29       52                         8.0      Frequent customer
30       52                         8.0      Frequent customer
31       52                         8.0      Frequent customer
32       52                         8.0      Frequent customer
33       52                         8.0      Frequent customer
34       52                         8.0      Frequent customer
35       52                         8.0      Frequent customer
36       52                         8.0      Frequent customer
37       67                         7.0      Frequent customer
38       67                         7.0      Frequent customer
39       67                         7.0      Frequent customer
40       67                         7.0      Frequent customer
41       67                         7.0      Frequent customer
42       67                         7.0      Frequent customer
43       67                         7.0      Frequent customer
44       67                         7.0      Frequent customer
45       67                         7.0      Frequent customer
46       67                         7.0      Frequent customer
47       67                         7.0      Frequent customer
48       67                         7.0      Frequent customer
49       67                         7.0      Frequent customer
50       67                         7.0      Frequent customer
51       67                         7.0      Frequent customer
52       67                         7.0      Frequent customer
53       67                         7.0      Frequent customer
54       67                         7.0      Frequent customer
55       67                         7.0      Frequent customer
56       81                        30.0  Non-frequent customer
57       81                        30.0  Non-frequent customer
58       82                        11.5       Regular customer
59       82                        11.5       Regular customer
60       82                        11.5       Regular customer
61       82                        11.5       Regular customer
62       82                        11.5       Regular customer
63       82                        11.5       Regular customer
64       82                        11.5       Regular customer
65       82                        11.5       Regular customer
66       82                        11.5       Regular customer
67       98                        25.0  Non-frequent customer
68       98                        25.0  Non-frequent customer
69       98                        25.0  Non-frequent customer
70       98                        25.0  Non-frequent customer
71       98                        25.0  Non-frequent customer
72       98                        25.0  Non-frequent customer
73       98                        25.0  Non-frequent customer
74      109                        26.0  Non-frequent customer
75      120                        19.0       Regular customer
76      120                        19.0       Regular customer
77      185                        25.0  Non-frequent customer
78      195                         4.0      Frequent customer
79      195                         4.0      Frequent customer
80      195                         4.0      Frequent customer
81      195                         4.0      Frequent customer
82      195                         4.0      Frequent customer
83      195                         4.0      Frequent customer
84      195                         4.0      Frequent customer
85      195                         4.0      Frequent customer
86      195                         4.0      Frequent customer
87      195                         4.0      Frequent customer
88      195                         4.0      Frequent customer
89      195                         4.0      Frequent customer
90      222                         5.0      Frequent customer
91      222                         5.0      Frequent customer
92      290                         7.0      Frequent customer
93      290                         7.0      Frequent customer
94      331                        30.0  Non-frequent customer
95      360                         4.0      Frequent customer
96      377                        16.5       Regular customer
97      387                         8.0      Frequent customer
98      420                         7.0      Frequent customer
99      420                         7.0      Frequent customer

In [ ]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_grouped_aggregated.pkl'))

In [1]:
ords_prods_merge.head()

NameError: name 'ords_prods_merge' is not defined

#### Last cleaning

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# import path:
path = r'C:\Users\svand\Documents\01-02-2024 Instacart Basket Analysis'

In [4]:
# import pickle dataset from 'Prepared Data' folder:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_grouped_aggregated.pkl'))

In [5]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_days,busiest_hours,max_order,loyalty_flag,average_price_product,spending_flag,median_days_between_orders,order_frequency_flag
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,...,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,...,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,...,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,...,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,...,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [6]:
# Checking if there are prices above $100:
ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_days,busiest_hours,max_order,loyalty_flag,average_price_product,spending_flag,median_days_between_orders,order_frequency_flag
10030345,912404,17,12,2,14,5.0,21553.0,5.0,0.0,Lowfat 2% Milkfat Cottage Cheese,...,both,High-range product,Regularly busy,Most orders,40,Regular customer,108.648299,High spender,5.0,Frequent customer
10030346,603376,17,22,6,16,4.0,21553.0,3.0,1.0,Lowfat 2% Milkfat Cottage Cheese,...,both,High-range product,Regularly busy,Most orders,40,Regular customer,108.648299,High spender,5.0,Frequent customer
10030347,3264360,135,2,2,21,13.0,21553.0,6.0,0.0,Lowfat 2% Milkfat Cottage Cheese,...,both,High-range product,Regularly busy,Average orders,4,New customer,1154.792308,High spender,12.0,Regular customer
10030348,892534,135,3,0,8,12.0,21553.0,3.0,1.0,Lowfat 2% Milkfat Cottage Cheese,...,both,High-range product,Busiest days,Average orders,4,New customer,1154.792308,High spender,12.0,Regular customer
10030349,229704,342,8,1,19,30.0,21553.0,9.0,0.0,Lowfat 2% Milkfat Cottage Cheese,...,both,High-range product,Busiest days,Average orders,16,Regular customer,114.426619,High spender,23.0,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29166209,2249946,204099,29,0,8,4.0,33664.0,1.0,0.0,2 % Reduced Fat Milk,...,both,High-range product,Busiest days,Average orders,39,Regular customer,1106.743956,High spender,4.0,Frequent customer
29166210,2363282,204099,31,0,9,2.0,33664.0,1.0,1.0,2 % Reduced Fat Milk,...,both,High-range product,Busiest days,Most orders,39,Regular customer,1106.743956,High spender,4.0,Frequent customer
29166211,3181945,204395,13,3,15,8.0,33664.0,25.0,0.0,2 % Reduced Fat Milk,...,both,High-range product,Slowest days,Most orders,15,Regular customer,451.153540,High spender,5.0,Frequent customer
29166212,2486215,205227,7,3,20,4.0,33664.0,8.0,0.0,2 % Reduced Fat Milk,...,both,High-range product,Slowest days,Average orders,12,Regular customer,1178.381871,High spender,12.0,Regular customer
29166213,2232716,205227,10,0,11,4.0,33664.0,23.0,1.0,2 % Reduced Fat Milk,...,both,High-range product,Busiest days,Most orders,12,Regular customer,1178.381871,High spender,12.0,Regular customer

In [7]:
# turning strange values into NaN:
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [8]:
# max value check on prices:
ords_prods_merge['prices'].max()

25.0

In [9]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_grouped_aggregated.pkl'))